{% extends "base.html" %}
{% block content %}

  <!-- {% for recipe in recipes %}
        {{ recipe.image }}<br>
        {{ recipe.recipe_name }}<br>
        {{ recipe.time }}<br>
        {{ recipe.description }}<br>
        {{ recipe.nutritional_info }}<br>
    {% endfor %} -->

{% for recipe in recipes %}
<div class="card" style="width: 18rem;">
  <img src="{{ recipe.image }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ recipe.recipe_name }}</h5>
    <p class="card-text">{{ recipe.description }}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
{% endfor %}


{% endblock %}


<!-- https://getbootstrap.com/docs/5.0/components/card/ -->
