{% extends "base.html" %}
{% block content %}

<form method="POST" action="{{ url_for('login') }}">
    <div>
        <h3>{{ recipe.recipe_name }}</h3>
        <p>Image</p>
        <!-- Option/Select -->
        <div class="row">
                    <select id="category_name" name="category_name" class="validate" required>
                        <option value="" disables selected>Choose Meal</option>
                        {% for category in categories %}
                            {% if category.catrgory_name == recipe.category_name %}
                                <option value="{{ category.category_name }}">{{ 
                            category.category_name }}</option>
                            {% else %}
                                <option value="{{ category.category_name }}" required>{{ 
                            category.category_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>		
                    <labrl for="category_name">Meal</labrl>
        </div>
        <!--  -->
        <p>{{ recipe.time }}</p>
        <p>{{- recipe.description -}}</p>
        <p>{{- recipe.ingredients -}}</p>
        <p>{{- recipe.directions -}}</p>
        <p>{{- recipe.nutritional_info -}}</p>
        <p><em>Created by: {{ recipe.created_by }}</em></p>
    
        <!-- ------ BUTONS -->
    <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                    <a href="{{ url_for('get_recipes') }}">Back to All Recipes!</a><i class="fas fa-edit-square right"></i></button>
     {% if session.user|lower == recipe.created_by|lower %}  
     <div class="col s3">
        <i class="fas fa-caret-down"></i>
        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Edit</a>
        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Delete</a>
      </div>
      {% endif %}
    <!-- ----------BUTTONS -->
    </div>
</form>








{% endblock %}